logging:
  level:
    com.giffing.bucket4j: debug
management:
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    enabled: false
spring:
  cache:
    jcache:
      provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
    cache-names:
    - buckets
    - filterConfigCache
    caffeine:
      spec: maximumSize=1000000,expireAfterAccess=3600s
bucket4j:
  enabled: true
  filter-config-caching-enabled: true
  filter-config-cache-name: filterConfigCache
  filters:
  - id: filter1
    cache-name: buckets
    url: .*
    rate-limits:
    - cache-key: getRemoteAddr()
      execute-predicates:
      - name: PATH=/hell**
      - name: METHOD=GET
      - name: HEADER=User-Agent,.*
      - name: CUSTOM-QUERY=huhu
      bandwidths:
      - capacity: 10
        refill-capacity: 1
        time: 1
        unit: seconds
        initial-capacity: 20
        refill-speed: interval
