debug: false
logging:
  level:
    com.giffing.bucket4j: debug
management:
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    enabled: false

bucket4j:
  enabled: true
  cache-to-use: redis-lettuce
  filters:
    - cache-name: buckets_test
      id: filter1
      filter-method: webflux
      url: ^(/hello).*
      rate-limits:
        - bandwidths:
            - capacity: 5
              time: 10
              unit: seconds
              refill-speed: interval
    - cache-name: buckets_test
      id: filter2
      filter-method: webflux
      url: ^(/world).*
      rate-limits:
        - bandwidths:
            - capacity: 10
              time: 10
              unit: seconds
              refill-speed: interval
  filter-config-caching-enabled: true

spring:
  main:
    allow-bean-definition-overriding: true
  data:
    redis:
      port: 6379
